#container{
    height: 80px;
    display: flex;
    background-color: beige;
    border-radius: 10px;
    overflow: hidden;
    font-size: small;
}

#foto{
    height: 100%;
    flex: 2;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    gap: 5px;
    img{
        height: 20px;  
        align-items: center;     
        margin-bottom: 5%;
        background-color: rgb(141, 208, 140);
        border-radius: 20%;
        &:first-child{
            margin-left: 5px;
        }
    }
}

#detalles{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


h4{
    font-weight: bold;
    margin-bottom: 5px;
}

ul li{
    display: inline;
    font-size:x-small;
    &:not(:last-of-type)::after{
        content: ",";
        margin-left: -2px;
    } 
}

#precio{
   text-align: end; 
   font-weight: bold;
}